<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">
            <%= jedi.name %>
        </h5>
        <p class="card-text">
            <%= jedi.master ? 'Master' : 'Not a Master' %>
        </p>
        <a href="/jedis/" class="btn btn-primary">Go Back</a>
    </div>
</div>